div.App {
  text-align: center;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.navbarHeader {
  background-color: #364b69;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-size: 19px;
  color: white;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

span.material-icons {
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  top: 4px;
}
