.App {
    text-align: center;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
#root > nav.navbarHeader {
    background-color: #364b69;
    max-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 19px;
}

#root > nav > div > span {
    color: whitesmoke;
}

#root > nav > div > div > a {
    color: whitesmoke;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

span.material-icons {
    padding: 0px 10px;
    position: relative;
    top: 4px;
}

span.material-icons-round {
    padding: 0px 10px;
    position: relative;
    top: 4px;
}
