.nav {
    width: max-content;
    background-color: #43608a;
    color: whitesmoke;
    border-radius: 4px;
    align-items: center;
}

#root > div > div.col-2 > div > a {
    color: whitesmoke;
    border: none;
    border-radius: 4px;
}

#root > div > div.col-2 > div > a:hover {
    border: none;
    background-color: #364b69;
}

#root > div > div.col-2 > div > a.nav-link.disabled {
    background-color: #364b69;
    width: 175px;
    text-align: center;
}
